{% load static %}
{% static 'img' as baseUrl %}

<!DOCTYPE html>
<html>
<head>
  <title>Welcome Admin</title>
  
</head>
<body>
  <div class="top-head">
    <h1>Welcome Admin</h1>
    <h2 class="titl">NextLabs</h2>
  </div>
  <div class="container">
  <div class="side-button">  
   <div> <button class="button1" >Home</button></div>
   <div> <button class="button1">Add Apps</button> </div>
   </div>
    <div class="insid" style="position: relative;top: 78px;">
    <form action="admin" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="update-img">  <label for ="file-input"><img class="head-img" src="{% static 'img/pic.png' %}" alt=""></div>
      </label>
      <input type="file"  id=file-input name="app_icon">
        <div class="input-box"><input class="field" type="text" placeholder="App Name" name="app_name"></input></div>
        <div class="input-box"><input class="field" type="text" placeholder="App Link" name="app_link"></input></div>
        <div class="cat"><div class="main-cat"><select name="app_category" >
          <option selected>App Category</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Educational">Educational</option>
          <option value="Game">Game</option>
          <option value="Productivity">Productivity</option>
        </select></div>
        <div class="main-cat"><select name="sub_category">
          <option selected>Sub Category</option>
          <option value="Social Media">Social Media</option>
          <option value="Games">Games</option>
          <option value="Lifestyle">Lifestyle</option>
          <option value="Travel">Travel</option>
        </select></div></div>
       <div class="poi"> <label for="">Add Points</label>
        <input class= "point-app" name="points" type="number" value="100"></div>
    <div class="btn"> <button class="button3" type="submit">Submit</button></div>  
    </div>
    </div>
  </form>
</body>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
    
}
.top-head{
    background-color: black;
    height: 125px;
}
.top-head h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 33px;
    padding-top: 20px;
}
.titl{
    color: white;
    font-size: 50px;
    font-family: monospace;
    margin-left: 50px;
}
.side-button{
    padding-left: 120px;
    padding-top: 57px;
    display: block;
  
}
.button1{
    margin-top: 20px;
    cursor: pointer;
}


.container{
    margin: 67px;
    height: 700px;
    background-color: #fff;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button{
    height: 40px;
    width:100px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

 button:hover{
  background-color: whitesmoke;
  color: black;
}
.update-img{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    
}
.head-img{
    height: 150px;
    width: 150px;
    margin-left: 20px;
    object-fit: contain;
}
.insid{
    margin: 0px;
}
.input-box{

    padding-left: 500px;
    margin-top: 45px;
}
.field{
    height: 30px;
    width: 220px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
}

#file-input{
    margin-left: 847px;
    margin-top: 5px;
}
.main-cat{
    margin-left: 1080px;
    margin-top: 50px;
    height: 25px;


}
.cat{
    margin-top: -162px;
}
select{
    height: 30px;
    width: 220px;
    border: none;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    
}
.poi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: monospace;
    margin-right: 110px;
    
}
.button3{
    height: 52px;
    width: 180px;
    font-size: 26px;
    font-family: monospace;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-left: 20px;
}
.point-app{
    height: 50px;
    color: black;
    text-align: center;
    background-color: lightgray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: larger;
    margin-left: 25px;
}
.main-cat:hover{
    color: black;
    cursor: pointer;
}

</style>
</html>
