
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="titl">NextLabs</h1>
  <div class="hello"><h1>Hello {{user.first_name}}</h1></div>
  <div class="container">
  <div class="main1">
    <div class="home"><a class="name" href="/home">Home</a></div>
    <div class="home"> <a class="name"href="/profile">profile</a></div>
   <div class="home"><a class="name"href="/points">Points</a></div>
    <div class="home"><a class="name" href="/task">Task</a></div>
    <div class="home"> <a class="name"href="/logout">Logout</a></div>
  </div>
  <div class="container2">
    <div class="main2">
       <div class="icon-item"> <img  class="icon" src="{{app.app_icon.url}}" alt=""></div> 
        <div class="app-name"><h2 >{{app.app_name}}</h2></div>
        <div class="items">
        <button class="btn" > 
          {{app.points}} points     
        </button>
        
        <p class="points">Earned Points</p>
    <form action="" method="post">
        {% csrf_token%}
        <div class="file-droppable">
            <div>Drag-n-drop some file here</div>
            <span>&times</span>
            <input name="img" type="file" name="upload" />
        </div>
        <input type="text" name="app_name" style="display: none" value="{{app.app_name}}" > 
        <input type="number" name="points"  style="display: none" value="{{app.points}}" > 
      </div>
        <div ><input class="button1" type="submit" value="SUBMIT"></div>
    </form>
    </div>
  </div>
  </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.file-droppable').forEach(function(droppable) {
          var originalText = droppable.querySelector('div').innerHTML;
          var input = droppable.querySelector('input');
          var fileChanged = function() {
            var files = input.files;
            if (files.length) {
              droppable.querySelector('span').style.display = 'block';
              droppable.querySelector('div').innerHTML = '';
                      for (var i = 0; i < files.length; i++) {
                          droppable.querySelector('div').innerHTML += files[i].name + '<br>';
              }
              droppable.classList.add('filled');
            } else {
              droppable.querySelector('div').innerHTML = originalText;
              droppable.classList.remove('filled');
              droppable.querySelector('span').style.display = 'none';
            }
          };
          input.addEventListener('change', fileChanged);
          fileChanged(input);
          droppable.querySelector('span').addEventListener('click', function() {
                input.value = '';
              fileChanged(input);
          });
        });
      });
      
    </script>

<style>
  .points{
    font-size: large;
    font-family: monospace;
    margin-top: 10px;
    margin-left: 2px;
  }
  .button1{
    height: 52px;
    width: 180px;
    color:white;
    background-color: black;
    border-radius: 10px;
    font-size: 26px;
    font-family: monospace;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-left: 628px;
    margin-top: 170px;
  }
.items{
  display: flex;
  justify-content: center;
  
}
.file-droppable{
  margin-top: 50px;
  margin-left: -210px;
}
h2{
  font-size: x-large;
  font-family: monospace;
  text-align: center;
}
  button{
    height: 37px;
    width: 109px;
    margin-left: 172px;
    color: white;
    background-color: #42ddf5;
    border-color: steelblue;
    font-size: large;
    border-radius: 5px;
   
  }
  .titl{
      font-family: monospace;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #42ddf5;
      font-size: 40px;
  }
  body{
      background-color: whitesmoke;
  }
  .hello{
      font-size: 22px;
      text-align: center;
      font-family: sans-serif;
  }
  .container{
      margin-left: 20px;
margin-right: 20px;

height: 700px;
background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  .container2{
      height: 617px;
      width: 1425px;
      margin-top: -310px;
      margin-left: 380px;
      border-radius: 14px;
      background-color: whitesmoke;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      padding-top: 20px;
  }
  .home{
position: relative;
bottom: -100px;
width: 110px;
left: 6px;
height: 49px;
background-color: black;
border-radius: 5px;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
margin-top: 25px;
margin-left: 100px;

}
a{
text-decoration: none;

color: white;
font-family: monospace;
font-size: 22px;

}
.name{
display: flex;
padding-left: 20px;
}

.icon{
  height: 150px;
  width: 150px;
 
}
.icon-item{
  display: flex;
justify-content: center;
}
</style>
    
</body>
</html>