<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titl">NextLabs</h1>
    <div class="hello"><h1>Hello {{user.first_name}}</h1></div>
    <div class="container">
    <div class="main1">
        <div class="home"><a class="name" href="/home">Home</a></div>
        <div class="home"> <a class="name"href="/profile">profile</a></div>
       <div class="home"><a class="name"href="/points">Points</a></div>
        <div class="home"><a class="name" href="/task">Task</a></div>
        <div class="home"> <a class="name"href="/logout">Logout</a></div>
    </div>
   
    <div class="container2">
        {% for app in apps %}
    <div class="pro">
        
        <div class="main">
            <img class="icon" src="{{app.app_icon.url}}" alt="">
            <h2 class="app-head">{{app.app_name}}</h2>
            <a  class="app-link" href="{% url 'app' id=app.id %}">View in Detail ></a>
            <button type="submit">{{app.points}} &nbsp;
                POINTS
            </button>
        </div>
       

    </div>
    {% endfor %}
    </div>
</div>
</body>
<style>
.titl{
    font-family: monospace;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #42ddf5;
    font-size: 40px;
}
body{
    background-color: whitesmoke;
}
.hello{
    font-size: 22px;
    text-align: center;
    font-family: sans-serif;
}
.container{
    margin-left: 20px;
    margin-right: 20px;

    height: 700px;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home{
    position: relative;
    bottom: -100px;
    width: 110px;
    left: 6px;
    height: 49px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 25px;
   margin-left: 100px;
    
  
    
}

.home-in{
    color: white;
    margin-left: 50px;

}
.container2{
            height: 617px;
            width: 1425px;
            margin-top: -310px;
            margin-left: 380px;
            border-radius: 14px;
            background-color: whitesmoke;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            padding-top: 20px;
            overflow: scroll;
        } 
        
a{
    text-decoration: none;
    
    color: white;
     font-family: monospace;
    font-size: 22px;
    
}
.name{
    display: flex;
    padding-left: 20px;
}
.pro{
    height: 120px;
    width: 1400px;
    border: solid 1px gray;
    margin-left: 10px;
    padding-top: 20px;
    border-radius: 6px;
}
img{
    width: 100px; 
    height: 100px;
}
.icon{
    margin-left: 20px;
}
.app-head{
   margin-left: 400px;
   margin-top: -120px;
}
h2{
font-size:30px;
}
.app-link{
     margin-left: 420px;
     color: blue;
     text-decoration: underline;
    padding-bottom: 20px;
     font-size: 15px;
}
button{
    float: right;
    margin-right: 20px;
    font-size: 25px;
    margin-top: 0px;
}
</style>
</html>
