<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Log-In</title>
</head>
<body>
    <div class="container">
    <div class="main-box">
        <h1> Log-In</h1>
        <form action="" method ="POST">{% csrf_token%}
            <div class="input-box">
                <input type="text"  name="username" required>
                <label>User Name</label>
            </div>
            <div class="input-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <input type="submit" class="btn">
            <div class="register">
                <p>Don't Have an a Account? <a href="register"  class="register-link">Register Here</a></p>
            </div>
        </form>
    </div>
    </div>
 <div >
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-position: center;
    background-size: cover;

}
.container{
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 530px;
    background:  #fff;
    border-radius: 20px;
    border: 8px;;
    box-shadow: 0  0 15px rgba(0,0,0,0.1) ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main-box{
    padding: 50px;
    width: 100%;
}
.main-box h1{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color:black ;
}
.input-box{
  position: relative;
  height: 52px;
  width:100%;
  border-bottom: 2px solid black ; 
  margin: 32px 0 ; 
}
.input-box label{
    position: absolute;
    top:50%;
    left: 6px;
    transition: transalateY(-50%);
    pointer-events: none;
    color:none;
    font-weight: 500;
    font-size: 18px;
    transition: all ease .40s;

}
.input-box input{
    height: 100%;
    width:100%;
    background: transparent;
    font-size: 17px;
    font-weight: 600;
    font-weight: 0px  30px 0 6px;
}
.input-box input:focus ~label,
.input-box input:valid ~label{
    top:-3px;
}
.check{
   color:black;
   font-size: 15px;
   font-weight: 500;
   margin : -10px 0 15px; 
   display: flex;
   justify-content: space-between;
}
.check label input{
      vertical-align: middle;
      margin-right: 6px;
      accent-color: black;
}
.check a{
   color: blue;
   text-decoration: none;
   
}
.check a:hover{
    text-decoration: underline;
}
.btn{
  width:100%;
  height: 45px;
  background:transparent;
  font-size: 17px; 
  border-radius: 30px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer; 
}
.register{
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 35px 0 10px;
}
.register p a{
    font-size: 15px;
    color: blue;
    text-decoration: none;
    margin-left:5px ;

}
.register p a:hover{
 text-decoration: underline;
}



</style>

</html>