{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body>
    <div class="container">
        <h1 class="form-title">Register Here</h1>
        <form method="post" action=" ">
            {% csrf_token%}
             <div class="main-user-info"> 
                <div class="user-input-box">
                    <label>First Name</label>
                    <input type="text"  id="fullname"  name="first_name" placeholder="Enter Your Firstname">
                </div>
                <div class="user-input-box">
                    <label>Last Name</label>
                    <input type="text"  id="Username" name="last_name" placeholder="Enter Your  Last Name">   
                </div>
                <div class="user-input-box">
                    <label>User Name</label>
                    <input type="text"  id="Username" name="username" placeholder="Enter Your  UserName">   
                </div>
                <div class="user-input-box">
                    <label>Email</label>
                    <input type="Email"  id="Email" name="email" placeholder="Enter Your Email">
                </div>
                <div class="user-input-box">
                    <label>Password</label>
                    <input type="password" id="password" name="password1" placeholder="Enter Password">
                </div>
                <div class="user-input-box">
                    <label>Confirm Password</label>
                    <input type="text" id="ConfirmPassword" name="password2" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-submit-btn">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</body>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  
  .container {
    width: 100%;
    max-width: 650px;
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    text-shadow: 2px 2px 2px white;
    border-bottom: solid 1px black;
    margin-bottom: 20px;
  }
  
  .main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .user-input-box {
    width: 48%;
    padding-bottom: 15px;
  }
  
  .user-input-box label {
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .user-input-box input {
    height: 40px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid black;
    padding: 0 10px;
    transition: border-color 0.3s ease;
  }
  
  .gender-title {
    color: black;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  .gender-category {
    display: flex;
    margin-top: 10px;
    color: black;
  }
  
  .gender-category label {
    padding: 0 20px 0 5px;
    cursor: pointer;
  }
  
  .form-submit-btn {
    margin-top: 40px;
  }
  
  .form-submit-btn input {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #d1d1d1;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .form-submit-btn input:hover {
    background: gray;
    color: white;
  }
  
  .user-input-box input:focus,
  .user-input-box.success input {
    border-color: #0cc477;
  }
  
  .user-input-box.error input {
    border-color: rgb(206, 67, 67);
  }
  
  .user-input-box .error {
    color: rgb(206, 67, 67);
    font-size: 16px;
    margin-top: 5px;
  }
  
  @media (max-width: 600px) {
    .user-input-box {
      width: 100%;
      margin-bottom: 12px;
    }
  
    .gender-category {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
    }
  
    .main-user-info {
      max-height: 380px;
      overflow: auto;
    }
  
    .main-user-info::-webkit-scrollbar {
      width: 0;
    }
  }
  

 </style>

</html>
